body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;    }
header {
    margin-bottom: 40px;
    text-align: center;
    color: #333;
    }
.container {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 15px;
    background-color: #00cae51e;
    box-shadow: 0 2px 4px rgba(0, 89, 255, 0.1);
    gap: 20px;
    }
   
.card{
        align-items: center;
        flex-direction: column;
        display: flex; 
        max-width: 240px;
        width: 100%;
        border-radius: 15px;
        background-color: #86e500ed;
        transition: transform 0.3s ease-in-out , box-shadow 0.3s ease-in-out;
       }
.card:hover {
            transform: translate3d(-10px);
            box-shadow: 0 6px 14px rgba(0,0,0,0.25);
            
          }
.projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(240px ,1fr));
        gap: 15px;
        padding: 40px;
        width: 100%;          
        
    }



.project-card {
  display: flex;
  flex-direction: column;
  background-color: #3498dbed;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease-in-out;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.25);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.project-card h4 {
  margin: 16px;
  font-size: 1.2rem;
  color: #fff;
}
@media (max-width: 600px) {
  .container {
    padding: 40px;
    gap: 40px;
  }

  header h1 {
    font-size: 1.6rem;
  }

  header h3 {
    font-size: 1rem;
  }
}
