body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;    }
header {
    margin-bottom: 40px;
    text-align: center;
    color: #333;
    }
.container {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 15px;
    background-color: #00cae51e;
    box-shadow: 0 2px 4px rgba(0, 89, 255, 0.1);
    gap: 20px;
    }
   
.card{
        align-items: center;
        flex-direction: column;
        display: flex; 
        max-width: 240px;
        width: 100%;
        border-radius: 15px;
        background-color: #86e500ed;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    }

.projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(240px ,1fr));
        gap: 15px;
        padding: 40px;
        width: 100%;
            
        
    }
.project-card {
        align-items: center;
        flex-direction: column;
        display: flex; 
        border-radius: 10px;
        background-color: #3498dbed;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
    }
    
@media (max-width: 600px) {
  .container {
    padding: 40px;
    gap: 40px;
  }

  header h1 {
    font-size: 1.6rem;
  }

  header h3 {
    font-size: 1rem;
  }
}
