body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;    }
header {
    margin-bottom: 40px;
    text-align: center;
    color: #333;
    }
.container {
    flex-direction: row;
    display: flex; 
    align-items: center;
    padding: 40px;
    border-radius: 15px;
    background-color: #00cae51e;
    box-shadow: 0 2px 4px rgba(0, 89, 255, 0.1);
    gap: 20px;
    }
   
.card{
        align-items: center;
        flex-direction: column;
        display: flex; 
        padding: 50px;
        border-radius: 15px;
        background-color: #86e500ed;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    }

       